<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.dre.loyalty"
xmlns:android="http://schemas.android.com/apk/res/android">

<!--Permissions-->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--Application-->
<application
    android:allowBackup="true"
    android:name="com.dre.loyalty.AndroidApplication"
    android:icon="@mipmap/ic_launcher"
    android:hardwareAccelerated="true"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

  <!--Activities-->
    <activity
        android:name="com.dre.loyalty.core.navigation.RouteActivity"
        android:noHistory="true"
        android:theme="@style/AppTheme.Translucent">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.dre.loyalty.features.authentication.presentation.login.presentation.ui.LoginActivity"
        android:label="@string/login_screen_title">
    </activity>

    <activity
        android:name=".features.authentication.presentation.register.screen.RegisterActivity"
        android:label="@string/register_title">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.movies.MoviesActivity"
        android:label="@string/movies_screen_title">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.pin.presentation.InputPinActivity"
        android:label="@string/pin_title">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.movies.MovieDetailsActivity"
        android:label="@string/movie_details_screen_title"
        android:theme="@style/AppTheme.Translucent">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.splash.presentation.SplashScreenActivity">
    </activity>

    <activity
        android:name=".features.authenticationselector.presentation.AuthenticationSelectorActivity">
    </activity>

  <activity
      android:name=".features.authentication.presentation.otp.screen.OtpActivity">
  </activity>

  <activity
      android:name=".features.authentication.presentation.inputuserdetail.screen.UserDetailFormActivity">
  </activity>

  <activity
      android:name=".features.authentication.presentation.resetpassword.screen.ResetPasswordActivity">
  </activity>

  <activity
      android:name=".features.createpin.presentation.CreatePinActivity">
  </activity>

  <activity
      android:name=".features.home.presentation.screen.HomeActivity">
  </activity>

  <activity
      android:name=".features.cashback.presentation.screen.CashBackListActivity">
  </activity>

  <activity
      android:name=".features.news.presentation.list.NewsListActivity">
  </activity>

  <activity
      android:name=".features.news.presentation.detail.NewsDetailActivity">
  </activity>

  <activity
      android:name=".features.invoice.presentation.upload.screen.UploadInvoiceActivity">
  </activity>

  <activity
      android:name=".features.profile.presentation.changeprofile.screen.UpdateProfileActivity">
  </activity>

  <activity
      android:name=".features.authentication.presentation.updatepassword.screen.UpdatePasswordActivity">
  </activity>

  <activity
      android:name=".features.faq.presentation.screen.FaqActivity">
  </activity>

  <activity
      android:name=".features.contactus.presentation.ContactUsActivity">
  </activity>

  <activity
      android:name=".features.camera.CameraActivity">
  </activity>

  <activity
      android:name=".features.invoice.presentation.detail.screen.InvoiceDetailActivity">
  </activity>

  <activity
      android:name=".features.photoview.PhotoViewActivity">
  </activity>

  <activity
      android:name=".features.authentication.presentation.inputpassword.screen.InputPasswordActivity">
  </activity>

  <activity
      android:name=".features.ewallet.presentation.screen.EWalletActivity">
  </activity>

  <activity
      android:name="com.yalantis.ucrop.UCropActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
</application>

</manifest>

