<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.dre.loyalty"
xmlns:android="http://schemas.android.com/apk/res/android">

<!--Permissions-->
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
<uses-permission android:name="android.permission.CAMERA" />
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

<!--Application-->
<application
    android:allowBackup="true"
    android:name="com.dre.loyalty.AndroidApplication"
    android:icon="@mipmap/ic_launcher"
    android:hardwareAccelerated="true"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">

  <!--Activities-->
    <activity
        android:name="com.dre.loyalty.core.navigation.RouteActivity"
        android:noHistory="true"
        android:theme="@style/AppTheme.Translucent">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity
        android:name="com.dre.loyalty.features.login.presentation.ui.LoginActivity"
        android:label="@string/login_screen_title">
    </activity>

    <activity
        android:name=".features.register.presentation.ui.RegisterActivity"
        android:label="@string/register_screen_title">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.movies.MoviesActivity"
        android:label="@string/movies_screen_title">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.pin.presentation.InputPinActivity"
        android:label="@string/pin_screen_title">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.movies.MovieDetailsActivity"
        android:label="@string/movie_details_screen_title"
        android:theme="@style/AppTheme.Translucent">
    </activity>

    <activity
        android:name="com.dre.loyalty.features.splash.presentation.SplashScreenActivity">
    </activity>

    <activity
        android:name=".features.authenticationselector.presentation.AuthenticationSelectorActivity">
    </activity>

  <activity
      android:name=".features.otp.OtpActivity">
  </activity>

  <activity
      android:name=".features.userdetailform.presentation.UserDetailFormActivity">
  </activity>

  <activity
      android:name=".features.resetpin.presentation.ResetPinActivity">
  </activity>

  <activity
      android:name=".features.createpin.presentation.CreatePinActivity">
  </activity>

  <activity
      android:name=".features.home.presentation.HomeActivity">
  </activity>

  <activity
      android:name=".features.cashback.presentation.CashBackListActivity">
  </activity>

  <activity
      android:name=".features.news.presentation.list.NewsListActivity">
  </activity>

  <activity
      android:name=".features.news.presentation.detail.NewsDetailActivity">
  </activity>

  <activity
      android:name=".features.uploadinvoice.presentation.UploadInvoiceActivity">
  </activity>

  <activity
      android:name=".features.changeprofile.presentation.UpdateProfileActivity">
  </activity>

  <activity
      android:name="com.yalantis.ucrop.UCropActivity"
      android:screenOrientation="portrait"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
</application>

</manifest>

